.productos-grid{
    display: grid;
    grid-template-columns:
        repeat(4, minmax(250px, 1fr));
    gap: 20px;

    max-width: 1400px;
    margin: 0 auto;
}

.producto-card {
    width: 100%;

    background-color: lightgray;
    border-radius: 12px;

    overflow: hidden;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.producto-image {
    width: 100%;
    height: 220px;

    object-fit: cover;
    display: block;
}

.producto-card h3,
.producto-card p {
    padding: 0 16px;
}

.precio {
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
    margin-top: 8px;
}

.hero-card {
    min-width: 250px;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    scroll-snap-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.hero-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.hero-card h3 {
    padding: 1rem;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    color: white;
}

.hero-container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(180, 35, 35);
    padding: 30px;
}

.call-to-action-btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(180,35,35);
    border-radius: 8px;
    font-weight: bold;
    margin-top: 1rem;
    transition: background-color 0.3s ease; /*Suaviza el cambio de color al hacer el hover*/
}

.call-to-action-btn:hover {
    background-color: rgb(230, 230, 230);
}

.hero-bottom-cta {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.carousel-item {
    width: 100%;
    transition: transform 0.6s ease-in-out;
}

.carrusel-container {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    overflow: hidden;
}

.productos-slide {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

.producto-destacado {
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    width: 250px;
    text-align: center;
}

.producto-destacado img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.producto-destacado h5 {
    margin-top: 12px;
    font-size: 1rem;
}

.producto-destacado p {
    color: rgb(180,35,35);
    font-weight: bold;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
}

.subtitle {
    font-size: 1.2rem;
    max-width: 600px;
    line-height: 1.5;
}

.categorias-grid{
    display: grid;
    grid-template-columns:
        repeat(4, minmax(250px, 1fr));
    gap: 20px;

    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 2rem;
}